/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Lobster';
    src: url('./assets/fonts/Lobster-Regular.ttf') format('truetype'), /* Update the path if necessary */
  }

  @font-face {
    font-family: 'name';
    src: url('./assets/fonts/Righteous-Regular.ttf') format('truetype'), /* Update the path if necessary */
  }

  @font-face {
    font-family: 'role';
    src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype'), /* Update the path if necessary */
  }

body {
    background-color: #0a011c;
    color: white;
}